{% extends 'stm32-carbon.jinja2' %}
{% set board_id = '38A3387B3234' %}
{% set connection_command = 'telnet 172.17.0.1 2005' %}
{% set hard_reset_command = '/root/hard_reset_carbon_04.sh' %}
{% set power_off_command = '/root/power_off_carbon_04.sh' %}
{% set power_on_command = '/root/power_on_carbon_04.sh' %}

