{% extends 'stm32-carbon.jinja2' %}
{% set board_id = '387D389C3234' %}
{% set connection_command = 'telnet 172.17.0.1 2002' %}
{% set hard_reset_command = '/root/hard_reset_carbon_01.sh' %}
{% set power_off_command = '/root/power_off_carbon_01.sh' %}
{% set power_on_command = '/root/power_on_carbon_01.sh' %}

